version: "3.9"

services:
  db:
    image: postgres:16
    container_name: file-handler-db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    container_name: file-handler-app
    restart: always
    depends_on:
      - db
    env_file:
      - .env
    volumes:
      - ${LOCAL_INPUT_DIR}:/app/input
      - ${LOCAL_OUTPUT_DIR}:/app/output
    ports:
      - "8080:8080"

volumes:
  pgdata:
